In [45]:
import pandas as pd
import numpy as np

In [46]:
data1 = pd.read_csv("1 hour traffic intensity 2023.csv")
data2 = pd.read_csv("1 uur traffic intensity 2023 locaties aangepast 2.csv")
data3 = pd.read_csv("1 hour traffic intensity 2023 locatie test 3.csv")

C:\Users\u180569\AppData\Local\Temp\ipykernel_15284\331431745.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv("1 hour traffic intensity 2023.csv")
C:\Users\u180569\AppData\Local\Temp\ipykernel_15284\331431745.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv("1 uur traffic intensity 2023 locaties aangepast 2.csv")

In [47]:
stacked_data = pd.concat([data1, data2, data3], axis=0)

# Reset index if needed
#stacked_data.reset_index(drop=True, inplace=True)

# Display the stacked DataFrame
stacked_data.head()

,id_meetlocatie,start_meetperiode,eind_meetperiode,ndw_index,gebruikte_minuten_intensiteit,gebruikte_minuten_snelheid,gem_intensiteit,gem_snelheid,totaal_aantal_rijstroken,rijrichting,technical_exclusion,traffic_flow_deviation_exclusions
0,RWS01_MONIBAS_0021hrl0414ra,2023-01-01 00:00:00,2023-01-01 01:00:00,F1A,60.0,2.0,2.0,138.79,5,northBound,NaN,NaN
1,RWS01_MONIBAS_0021hrl0414ra,2023-01-01 00:00:00,2023-01-01 01:00:00,F3A,60.0,30.0,57.0,125.59,5,northBound,NaN,NaN
2,RWS01_MONIBAS_0021hrl0414ra,2023-01-01 00:00:00,2023-01-01 01:00:00,F5A,60.0,49.0,124.0,121.22,5,northBound,NaN,NaN
3,RWS01_MONIBAS_0021hrl0414ra,2023-01-01 00:00:00,2023-01-01 01:00:00,F7A,60.0,58.0,180.0,118.60,5,northBound,NaN,NaN
4,RWS01_MONIBAS_0021hrl0414ra,2023-01-01 00:00:00,2023-01-01 01:00:00,F9A,60.0,57.0,235.0,107.49,5,northBound,NaN,NaN

In [48]:
# Define the list of values to be removed
values_to_remove = ['RWS01_MONIBAS_0071hrl1805ra', 'RWS01_MONIBAS_0281hrl1476ra',
                    'RWS01_MONIBAS_0071hrr1805ra', 'RWS01_MONIBAS_0281hrr1476ra',
                    'RWS01_MONIBAS_0321hrr0654ra', 'RWS01_MONIBAS_0321hrl0654ra',
                    'RWS01_MONIBAS_0321hrr0467ra', 'RWS01_MONIBAS_0321hrl0467ra',
                    'RWS01_MONIBAS_0041hrl0151ra', 'RWS01_MONIBAS_0041hrr0152ra',
                    'RWS01_MONIBAS_0070vwb1401ra', 'RWS01_MONIBAS_0070vwc1401ra'
                   ]

# Filter out rows with specified values in the id_meetlocatie column
stacked_data = stacked_data[~stacked_data['id_meetlocatie'].isin(values_to_remove)]

# Reset index if needed
stacked_data.reset_index(drop=True, inplace=True)

# Display the filtered DataFrame
#filtered_stacked_data.head()

In [49]:
data = stacked_data

In [50]:
# Assuming 'data' is your DataFrame
data['gem_intensiteit'] = data['gem_intensiteit'].replace(-1, 0)
data['gem_snelheid'] = data['gem_snelheid'].replace(-1, 0)

In [51]:
#check for missing values

data.groupby('id_meetlocatie').apply(lambda x: x['gem_snelheid'].isnull().sum())

id_meetlocatie
RWS01_MONIBAS_0021hrl0414ra      0
RWS01_MONIBAS_0021hrl1309ra      0
RWS01_MONIBAS_0021hrl2368ra      0
RWS01_MONIBAS_0021hrr0415ra      0
RWS01_MONIBAS_0021hrr1309ra      0
RWS01_MONIBAS_0021hrr2368ra      0
RWS01_MONIBAS_0051hrl0060ra      0
RWS01_MONIBAS_0051hrr0060ra      0
RWS01_MONIBAS_0071hrl1466ra      0
RWS01_MONIBAS_0071hrl1933ra      0
RWS01_MONIBAS_0071hrr1466ra      0
RWS01_MONIBAS_0071hrr1933ra      0
RWS01_MONIBAS_0131hrl0122ra      0
RWS01_MONIBAS_0131hrr0122ra      0
RWS01_MONIBAS_0271hrl1140ra      0
RWS01_MONIBAS_0271hrr1140ra      0
RWS01_MONIBAS_0281hrl1029ra    288
RWS01_MONIBAS_0281hrl1857ra      0
RWS01_MONIBAS_0281hrr1029ra    288
RWS01_MONIBAS_0281hrr1857ra      0
RWS01_MONIBAS_0731hrl1018ra      0
RWS01_MONIBAS_0731hrr1018ra      0
dtype: int64

In [52]:
data["ndw_index"].unique()

array(['F1A', 'F3A', 'F5A', 'F7A', 'F9A', 'F801A', 'F1B', 'F2B', 'F3B',
       'F4B', 'F9B', 'F10B', 'F11B', 'F12B'], dtype=object)

In [53]:
#remove stopping lane

data = data[data['ndw_index'] != 'F801A']

In [54]:
# Assuming 'data' is your DataFrame and 'time_column' is the name of the column containing the datetime values
data['time_column'] = pd.to_datetime(data['start_meetperiode'])  # Convert to datetime if not already

# Extract year, month, day, hour, and minute into separate columns
data['date'] = data['time_column'].dt.date
data['year'] = data['time_column'].dt.year
data['month'] = data['time_column'].dt.month
data['day'] = data['time_column'].dt.day
data['hour'] = data['time_column'].dt.hour
data['minute'] = data['time_column'].dt.minute
data['day_of_week'] = data['time_column'].dt.dayofweek
data['weekend'] = (data['day_of_week'] >= 5).astype(int)

# Now you have separate columns for year, month, day, hour, and minute

C:\Users\u180569\AppData\Local\Temp\ipykernel_15284\1678938041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time_column'] = pd.to_datetime(data['start_meetperiode'])  # Convert to datetime if not already
C:\Users\u180569\AppData\Local\Temp\ipykernel_15284\1678938041.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = data['time_column'].dt.date
C:\Users\u180569\AppData\Local\Temp\ipykernel_15284\1678938041.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['year'] = data['time_column'].dt.year
C:\Users\u180569\AppData\Local\Temp\ipykernel_15284\1678938041.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['month'] = data['time_column'].dt.month
C:\Users\u180569\AppData\Local\Temp\ipykernel_15284\1678938041.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day'] = data['time_column'].dt.day
C:\Users\u180569\AppData\Local\Temp\ipykernel_15284\1678938041.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'] = data['time_column'].dt.hour
C:\Users\u180569\AppData\Local\Temp\ipykernel_15284\1678938041.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['minute'] = data['time_column'].dt.minute
C:\Users\u180569\AppData\Local\Temp\ipykernel_15284\1678938041.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day_of_week'] = data['time_column'].dt.dayofweek
C:\Users\u180569\AppData\Local\Temp\ipykernel_15284\1678938041.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['weekend'] = (data['day_of_week'] >= 5).astype(int)

In [55]:
# Add 0.000001 to the values in the "gem_intensiteit" column
data['gem_intensiteit'] += 0.000001

C:\Users\u180569\AppData\Local\Temp\ipykernel_15284\3166473090.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['gem_intensiteit'] += 0.000001

In [56]:
data['intensiteit'] = data['gem_intensiteit']/1

C:\Users\u180569\AppData\Local\Temp\ipykernel_15284\3531208712.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['intensiteit'] = data['gem_intensiteit']/1

In [57]:
data['sumspeed'] = data['intensiteit'] * data ['gem_snelheid']

C:\Users\u180569\AppData\Local\Temp\ipykernel_15284\3443430302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sumspeed'] = data['intensiteit'] * data ['gem_snelheid']

In [58]:
'''RWS01_MONIBAS_0071hrl1805ra', 'RWS01_MONIBAS_0281hrl1476ra',
                    'RWS01_MONIBAS_0071hrr1805ra', 'RWS01_MONIBAS_0281hrr1476ra',
                    'RWS01_MONIBAS_0321hrr0654ra', 'RWS01_MONIBAS_0321hrl0654ra',
                    'RWS01_MONIBAS_0321hrr0467ra', 'RWS01_MONIBAS_0321hrl0467ra'''

"RWS01_MONIBAS_0071hrl1805ra', 'RWS01_MONIBAS_0281hrl1476ra',\n                    'RWS01_MONIBAS_0071hrr1805ra', 'RWS01_MONIBAS_0281hrr1476ra',\n                    'RWS01_MONIBAS_0321hrr0654ra', 'RWS01_MONIBAS_0321hrl0654ra',\n                    'RWS01_MONIBAS_0321hrr0467ra', 'RWS01_MONIBAS_0321hrl0467ra"

In [59]:
data.groupby('id_meetlocatie').apply(lambda x: x['gem_snelheid'].isnull().sum())

id_meetlocatie
RWS01_MONIBAS_0021hrl0414ra      0
RWS01_MONIBAS_0021hrl1309ra      0
RWS01_MONIBAS_0021hrl2368ra      0
RWS01_MONIBAS_0021hrr0415ra      0
RWS01_MONIBAS_0021hrr1309ra      0
RWS01_MONIBAS_0021hrr2368ra      0
RWS01_MONIBAS_0051hrl0060ra      0
RWS01_MONIBAS_0051hrr0060ra      0
RWS01_MONIBAS_0071hrl1466ra      0
RWS01_MONIBAS_0071hrl1933ra      0
RWS01_MONIBAS_0071hrr1466ra      0
RWS01_MONIBAS_0071hrr1933ra      0
RWS01_MONIBAS_0131hrl0122ra      0
RWS01_MONIBAS_0131hrr0122ra      0
RWS01_MONIBAS_0271hrl1140ra      0
RWS01_MONIBAS_0271hrr1140ra      0
RWS01_MONIBAS_0281hrl1029ra    288
RWS01_MONIBAS_0281hrl1857ra      0
RWS01_MONIBAS_0281hrr1029ra    288
RWS01_MONIBAS_0281hrr1857ra      0
RWS01_MONIBAS_0731hrl1018ra      0
RWS01_MONIBAS_0731hrr1018ra      0
dtype: int64

In [61]:
data = data.dropna(subset=['gem_snelheid'])

In [62]:
data.groupby('id_meetlocatie').apply(lambda x: x['gem_snelheid'].isnull().sum())

id_meetlocatie
RWS01_MONIBAS_0021hrl0414ra    0
RWS01_MONIBAS_0021hrl1309ra    0
RWS01_MONIBAS_0021hrl2368ra    0
RWS01_MONIBAS_0021hrr0415ra    0
RWS01_MONIBAS_0021hrr1309ra    0
RWS01_MONIBAS_0021hrr2368ra    0
RWS01_MONIBAS_0051hrl0060ra    0
RWS01_MONIBAS_0051hrr0060ra    0
RWS01_MONIBAS_0071hrl1466ra    0
RWS01_MONIBAS_0071hrl1933ra    0
RWS01_MONIBAS_0071hrr1466ra    0
RWS01_MONIBAS_0071hrr1933ra    0
RWS01_MONIBAS_0131hrl0122ra    0
RWS01_MONIBAS_0131hrr0122ra    0
RWS01_MONIBAS_0271hrl1140ra    0
RWS01_MONIBAS_0271hrr1140ra    0
RWS01_MONIBAS_0281hrl1029ra    0
RWS01_MONIBAS_0281hrl1857ra    0
RWS01_MONIBAS_0281hrr1029ra    0
RWS01_MONIBAS_0281hrr1857ra    0
RWS01_MONIBAS_0731hrl1018ra    0
RWS01_MONIBAS_0731hrr1018ra    0
dtype: int64

In [63]:
# Select the columns to group by
group_columns = ['id_meetlocatie', 'date', 'year', 'month', 'day', 'hour', 'minute', 'day_of_week', 'weekend', 'totaal_aantal_rijstroken']

# Group by the selected columns and aggregate other columns
grouped_data = data.groupby(group_columns).agg({'intensiteit': 'sum', 'sumspeed': 'sum'}).reset_index()

In [64]:
grouped_data['avg_speed'] = grouped_data['sumspeed'] / grouped_data['intensiteit']
grouped_data = grouped_data.drop(columns=['sumspeed'])

In [65]:
grouped_data.head(20)

,id_meetlocatie,date,year,month,day,hour,minute,day_of_week,weekend,totaal_aantal_rijstroken,intensiteit,avg_speed
0,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,0,0,6,1,5,598.000005,115.511104
1,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,1,0,6,1,5,1744.000005,116.550843
2,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,2,0,6,1,5,1538.000005,115.371190
3,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,3,0,6,1,5,751.000005,116.399188
4,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,4,0,6,1,5,530.000005,110.696396
5,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,5,0,6,1,5,472.000005,114.583898
6,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,6,0,6,1,5,571.000005,99.704413
7,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,7,0,6,1,5,669.000005,98.648774
8,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,8,0,6,1,5,538.000005,98.456060
9,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,9,0,6,1,5,756.000005,98.763439
10,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,10,0,6,1,5,1231.000005,98.547084
11,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,11,0,6,1,5,2302.000005,98.808440
12,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,12,0,6,1,5,3437.000005,98.786939
13,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,13,0,6,1,5,4376.000005,98.531415
14,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,14,0,6,1,5,4905.000005,98.532279
15,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,15,0,6,1,5,4767.000005,98.446960
16,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,16,0,6,1,5,3992.000005,98.597237
17,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,17,0,6,1,5,3574.000005,98.368713
18,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,18,0,6,1,5,2728.000005,98.277155
19,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,19,0,6,1,5,2537.000005,114.019523

In [66]:
grouped_data.shape

(191528, 12)

In [67]:
'''test to see whether null variables'''
grouped_data.groupby('id_meetlocatie').apply(lambda x: x['avg_speed'].isnull().sum())

id_meetlocatie
RWS01_MONIBAS_0021hrl0414ra    0
RWS01_MONIBAS_0021hrl1309ra    0
RWS01_MONIBAS_0021hrl2368ra    0
RWS01_MONIBAS_0021hrr0415ra    0
RWS01_MONIBAS_0021hrr1309ra    0
RWS01_MONIBAS_0021hrr2368ra    0
RWS01_MONIBAS_0051hrl0060ra    0
RWS01_MONIBAS_0051hrr0060ra    0
RWS01_MONIBAS_0071hrl1466ra    0
RWS01_MONIBAS_0071hrl1933ra    0
RWS01_MONIBAS_0071hrr1466ra    0
RWS01_MONIBAS_0071hrr1933ra    0
RWS01_MONIBAS_0131hrl0122ra    0
RWS01_MONIBAS_0131hrr0122ra    0
RWS01_MONIBAS_0271hrl1140ra    0
RWS01_MONIBAS_0271hrr1140ra    0
RWS01_MONIBAS_0281hrl1029ra    0
RWS01_MONIBAS_0281hrl1857ra    0
RWS01_MONIBAS_0281hrr1029ra    0
RWS01_MONIBAS_0281hrr1857ra    0
RWS01_MONIBAS_0731hrl1018ra    0
RWS01_MONIBAS_0731hrr1018ra    0
dtype: int64

In [16]:
#grouped_data['hour'] = pd.to_numeric(grouped_data['hour'], errors='coerce')

In [148]:
#grouped_data = grouped_data[(grouped_data['hour'] > 5)]

In [149]:
#grouped_data = grouped_data[(grouped_data['hour'] < 21)]

In [68]:
holidays = pd.read_csv("holidays.csv")

In [70]:
import pandas as pd

# Assuming holidays is your DataFrame and 'date' is the column containing dates
# Convert 'date' column to datetime object
holidays['date'] = pd.to_datetime(holidays['date'], errors='coerce')

# Check unique values and infer date format
unique_dates = holidays['date'].dropna().dt.strftime('%Y-%m-%d').unique()
date_format = unique_dates[0] if len(unique_dates) == 1 else "Multiple formats detected"

# Print the inferred date format
print("Inferred date format:", date_format)

Inferred date format: Multiple formats detected

In [71]:
grouped_data['date'] = pd.to_datetime(grouped_data['date'], errors='coerce')

# Check unique values and infer date format
unique_dates = grouped_data['date'].dropna().dt.strftime('%Y-%m-%d').unique()
date_format = unique_dates[0] if len(unique_dates) == 1 else "Multiple formats detected"

# Print the inferred date format
print("Inferred date format:", date_format)

Inferred date format: Multiple formats detected

In [72]:
# Round the 'intensiteit' and 'alg_speed' columns to two decimals
grouped_data['intensiteit'] = grouped_data['intensiteit'].round(2)
grouped_data['avg_speed'] = grouped_data['avg_speed'].round(2)

In [73]:
merged_data = pd.merge(grouped_data, holidays, on='date', how='left')

merged_data['is_public_holiday'] = merged_data['is_public_holiday'].fillna(0).astype(int)

In [74]:
merged_data.head()

,id_meetlocatie,date,year,month,day,hour,minute,day_of_week,weekend,totaal_aantal_rijstroken,intensiteit,avg_speed,is_public_holiday
0,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,0,0,6,1,5,598.0,115.51,1
1,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,1,0,6,1,5,1744.0,116.55,1
2,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,2,0,6,1,5,1538.0,115.37,1
3,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,3,0,6,1,5,751.0,116.40,1
4,RWS01_MONIBAS_0021hrl0414ra,2023-01-01,2023,1,1,4,0,6,1,5,530.0,110.70,1

In [75]:
merged_data.to_csv('Preprocessed_1hour_2023.csv', index=False)