In [14]:
import pandas as pd
import numpy as np

In [15]:
data1 = pd.read_csv("15 min traffic intensity 2016 2019.csv")
data2 = pd.read_csv("15 min traffic intensity 2016 2019 locaties aangepast.csv")
data3 = pd.read_csv("15 min traffic intensity 2016 2019 locaties aangepast 2.csv")
data4 = pd.read_csv("15 min traffic intensity 2016 2019 locatie test 3.csv")

C:\Users\u180569\AppData\Local\Temp\ipykernel_7348\1664582136.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv("15 min traffic intensity 2016 2019.csv")
C:\Users\u180569\AppData\Local\Temp\ipykernel_7348\1664582136.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv("15 min traffic intensity 2016 2019 locaties aangepast.csv")

In [16]:
stacked_data = pd.concat([data1, data2, data3, data4], axis=0)

# Reset index if needed
#stacked_data.reset_index(drop=True, inplace=True)

# Display the stacked DataFrame
stacked_data.head()

,id_meetlocatie,start_meetperiode,eind_meetperiode,ndw_index,gebruikte_minuten_intensiteit,gebruikte_minuten_snelheid,gem_intensiteit,gem_snelheid,totaal_aantal_rijstroken,rijrichting,technical_exclusion,traffic_flow_deviation_exclusions
0,RWS01_MONIBAS_0021hrl0414ra,2016-01-01 00:00:00,2016-01-01 00:15:00,F1A,15.0,0.0,0.0,-1.00,5,northBound,NaN,NaN
1,RWS01_MONIBAS_0021hrl0414ra,2016-01-01 00:00:00,2016-01-01 00:15:00,F3A,15.0,7.0,32.0,117.40,5,northBound,NaN,NaN
2,RWS01_MONIBAS_0021hrl0414ra,2016-01-01 00:00:00,2016-01-01 00:15:00,F5A,15.0,9.0,52.0,123.39,5,northBound,NaN,NaN
3,RWS01_MONIBAS_0021hrl0414ra,2016-01-01 00:00:00,2016-01-01 00:15:00,F7A,15.0,15.0,108.0,106.26,5,northBound,NaN,NaN
4,RWS01_MONIBAS_0021hrl0414ra,2016-01-01 00:00:00,2016-01-01 00:15:00,F9A,15.0,14.0,152.0,96.59,5,northBound,NaN,NaN

In [17]:
# Define the list of values to be removed
values_to_remove = ['RWS01_MONIBAS_0071hrl1805ra', 'RWS01_MONIBAS_0281hrl1476ra',
                    'RWS01_MONIBAS_0071hrr1805ra', 'RWS01_MONIBAS_0281hrr1476ra',
                    'RWS01_MONIBAS_0321hrr0654ra', 'RWS01_MONIBAS_0321hrl0654ra',
                    'RWS01_MONIBAS_0321hrr0467ra', 'RWS01_MONIBAS_0321hrl0467ra',
                    'RWS01_MONIBAS_0041hrl0151ra', 'RWS01_MONIBAS_0041hrr0152ra',
                    'RWS01_MONIBAS_0070vwb1401ra', 'RWS01_MONIBAS_0070vwc1401ra'
                   ]

# Filter out rows with specified values in the id_meetlocatie column
stacked_data = stacked_data[~stacked_data['id_meetlocatie'].isin(values_to_remove)]

# Reset index if needed
stacked_data.reset_index(drop=True, inplace=True)

# Display the filtered DataFrame
#filtered_stacked_data.head()

In [18]:
data = stacked_data

In [19]:
# Assuming 'data' is your DataFrame
data['gem_intensiteit'] = data['gem_intensiteit'].replace(-1, 0)
data['gem_snelheid'] = data['gem_snelheid'].replace(-1, 0)

In [20]:
#check for missing values

data.groupby('id_meetlocatie').apply(lambda x: x['gem_snelheid'].isnull().sum())

id_meetlocatie
RWS01_MONIBAS_0021hrl0414ra    0
RWS01_MONIBAS_0021hrl1309ra    0
RWS01_MONIBAS_0021hrl2368ra    0
RWS01_MONIBAS_0021hrr0415ra    0
RWS01_MONIBAS_0021hrr1309ra    0
RWS01_MONIBAS_0021hrr2368ra    0
RWS01_MONIBAS_0051hrl0060ra    0
RWS01_MONIBAS_0051hrr0060ra    0
RWS01_MONIBAS_0071hrl1466ra    0
RWS01_MONIBAS_0071hrl1933ra    0
RWS01_MONIBAS_0071hrr1466ra    0
RWS01_MONIBAS_0071hrr1933ra    0
RWS01_MONIBAS_0131hrl0122ra    0
RWS01_MONIBAS_0131hrr0122ra    0
RWS01_MONIBAS_0271hrl1140ra    0
RWS01_MONIBAS_0271hrr1140ra    0
RWS01_MONIBAS_0281hrl1029ra    0
RWS01_MONIBAS_0281hrl1857ra    0
RWS01_MONIBAS_0281hrr1029ra    0
RWS01_MONIBAS_0281hrr1857ra    0
RWS01_MONIBAS_0731hrl1018ra    0
RWS01_MONIBAS_0731hrr1018ra    0
dtype: int64

In [21]:
data["ndw_index"].unique()

array(['F1A', 'F3A', 'F5A', 'F7A', 'F9A', 'F801A', 'F1B', 'F2B', 'F3B',
       'F4B', 'F9B', 'F10B', 'F11B', 'F12B'], dtype=object)

In [22]:
#remove stopping lane

data = data[data['ndw_index'] != 'F801A']

In [23]:
# Assuming 'data' is your DataFrame and 'time_column' is the name of the column containing the datetime values
data['time_column'] = pd.to_datetime(data['start_meetperiode'])  # Convert to datetime if not already

# Extract year, month, day, hour, and minute into separate columns
data['date'] = data['time_column'].dt.date
data['year'] = data['time_column'].dt.year
data['month'] = data['time_column'].dt.month
data['day'] = data['time_column'].dt.day
data['hour'] = data['time_column'].dt.hour
data['minute'] = data['time_column'].dt.minute
data['day_of_week'] = data['time_column'].dt.dayofweek
data['weekend'] = (data['day_of_week'] >= 5).astype(int)

# Now you have separate columns for year, month, day, hour, and minute

C:\Users\u180569\AppData\Local\Temp\ipykernel_7348\1678938041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time_column'] = pd.to_datetime(data['start_meetperiode'])  # Convert to datetime if not already
C:\Users\u180569\AppData\Local\Temp\ipykernel_7348\1678938041.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = data['time_column'].dt.date
C:\Users\u180569\AppData\Local\Temp\ipykernel_7348\1678938041.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['year'] = data['time_column'].dt.year
C:\Users\u180569\AppData\Local\Temp\ipykernel_7348\1678938041.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['month'] = data['time_column'].dt.month
C:\Users\u180569\AppData\Local\Temp\ipykernel_7348\1678938041.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day'] = data['time_column'].dt.day
C:\Users\u180569\AppData\Local\Temp\ipykernel_7348\1678938041.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'] = data['time_column'].dt.hour
C:\Users\u180569\AppData\Local\Temp\ipykernel_7348\1678938041.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['minute'] = data['time_column'].dt.minute
C:\Users\u180569\AppData\Local\Temp\ipykernel_7348\1678938041.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day_of_week'] = data['time_column'].dt.dayofweek
C:\Users\u180569\AppData\Local\Temp\ipykernel_7348\1678938041.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['weekend'] = (data['day_of_week'] >= 5).astype(int)

In [24]:
# Add 0.000001 to the values in the "gem_intensiteit" column
data['gem_intensiteit'] += 0.000001

C:\Users\u180569\AppData\Local\Temp\ipykernel_7348\3166473090.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['gem_intensiteit'] += 0.000001

In [25]:
data['intensiteit'] = data['gem_intensiteit']/4

C:\Users\u180569\AppData\Local\Temp\ipykernel_7348\743446256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['intensiteit'] = data['gem_intensiteit']/4

In [26]:
data['sumspeed'] = data['intensiteit'] * data ['gem_snelheid']

C:\Users\u180569\AppData\Local\Temp\ipykernel_7348\3443430302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sumspeed'] = data['intensiteit'] * data ['gem_snelheid']

In [27]:
#extra check not necessary if previous one was already succesful
#data.groupby('id_meetlocatie').apply(lambda x: x['gem_snelheid'].isnull().sum())

In [28]:
# Select the columns to group by
group_columns = ['id_meetlocatie', 'date', 'year', 'month', 'day', 'hour', 'minute', 'day_of_week', 'weekend', 'totaal_aantal_rijstroken']

# Group by the selected columns and aggregate other columns
grouped_data = data.groupby(group_columns).agg({'intensiteit': 'sum', 'sumspeed': 'sum'}).reset_index()

In [29]:
grouped_data['avg_speed'] = grouped_data['sumspeed'] / grouped_data['intensiteit']
grouped_data = grouped_data.drop(columns=['sumspeed'])

In [30]:
grouped_data.head(20)

,id_meetlocatie,date,year,month,day,hour,minute,day_of_week,weekend,totaal_aantal_rijstroken,intensiteit,avg_speed
0,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,0,0,4,0,5,86.000001,105.612907
1,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,0,15,4,0,5,80.500001,111.067826
2,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,0,30,4,0,5,119.000001,104.571008
3,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,0,45,4,0,5,166.000001,102.914638
4,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,1,0,4,0,5,262.250001,101.372326
5,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,1,15,4,0,5,386.000001,99.281736
6,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,1,30,4,0,5,447.000001,99.527629
7,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,1,45,4,0,5,454.250001,100.300336
8,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,2,0,4,0,5,400.000001,99.386175
9,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,2,15,4,0,5,389.000001,100.232416
10,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,2,30,4,0,5,319.000001,99.964859
11,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,2,45,4,0,5,264.000001,99.217083
12,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,3,0,4,0,5,197.000001,100.007716
13,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,3,15,4,0,5,192.000001,100.781302
14,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,3,30,4,0,5,141.000001,101.180851
15,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,3,45,4,0,5,121.000001,100.336694
16,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,4,0,4,0,5,92.000001,98.879782
17,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,4,15,4,0,5,103.000001,98.567281
18,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,4,30,4,0,5,102.000001,100.990294
19,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,4,45,4,0,5,102.000001,98.098039

In [31]:
grouped_data.shape

(3015198, 12)

In [32]:
'''test to see whether null variables'''
#grouped_data.groupby('id_meetlocatie').apply(lambda x: x['avg_speed'].isnull().sum())

'test to see whether null variables'

In [33]:
#grouped_data['hour'] = pd.to_numeric(grouped_data['hour'], errors='coerce')

In [34]:
#grouped_data = grouped_data[(grouped_data['hour'] > 5)]

In [35]:
#grouped_data = grouped_data[(grouped_data['hour'] < 21)]

In [36]:
holidays = pd.read_csv("holidays.csv")

In [37]:
import pandas as pd

# Assuming holidays is your DataFrame and 'date' is the column containing dates
# Convert 'date' column to datetime object
holidays['date'] = pd.to_datetime(holidays['date'], errors='coerce')

# Check unique values and infer date format
unique_dates = holidays['date'].dropna().dt.strftime('%Y-%m-%d').unique()
date_format = unique_dates[0] if len(unique_dates) == 1 else "Multiple formats detected"

# Print the inferred date format
print("Inferred date format:", date_format)

Inferred date format: Multiple formats detected

In [38]:
grouped_data['date'] = pd.to_datetime(grouped_data['date'], errors='coerce')

# Check unique values and infer date format
unique_dates = grouped_data['date'].dropna().dt.strftime('%Y-%m-%d').unique()
date_format = unique_dates[0] if len(unique_dates) == 1 else "Multiple formats detected"

# Print the inferred date format
print("Inferred date format:", date_format)

Inferred date format: Multiple formats detected

In [39]:
# Round the 'intensiteit' and 'alg_speed' columns to two decimals
grouped_data['intensiteit'] = grouped_data['intensiteit'].round(2)
grouped_data['avg_speed'] = grouped_data['avg_speed'].round(2)

In [40]:
merged_data = pd.merge(grouped_data, holidays, on='date', how='left')

merged_data['is_public_holiday'] = merged_data['is_public_holiday'].fillna(0).astype(int)

In [41]:
merged_data.head()

,id_meetlocatie,date,year,month,day,hour,minute,day_of_week,weekend,totaal_aantal_rijstroken,intensiteit,avg_speed,is_public_holiday
0,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,0,0,4,0,5,86.00,105.61,1
1,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,0,15,4,0,5,80.50,111.07,1
2,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,0,30,4,0,5,119.00,104.57,1
3,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,0,45,4,0,5,166.00,102.91,1
4,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,1,0,4,0,5,262.25,101.37,1

In [42]:
merged_data.to_csv('Preprocessed_15min_2016_2019.csv', index=False)