In [1]:
import pandas as pd
import numpy as np

In [2]:
rows = 35000000
data1 = pd.read_csv("1 min traffic intensity 2019.csv", nrows = rows)

C:\Users\u180569\AppData\Local\Temp\ipykernel_14096\1685268106.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv("1 min traffic intensity 2019.csv", nrows = rows)

In [3]:
stacked_data = data1

# Reset index if needed
#stacked_data.reset_index(drop=True, inplace=True)

# Display the stacked DataFrame
stacked_data.head()

,id_meetlocatie,start_meetperiode,eind_meetperiode,ndw_index,gebruikte_minuten_intensiteit,gebruikte_minuten_snelheid,gem_intensiteit,gem_snelheid,totaal_aantal_rijstroken,rijrichting,technical_exclusion,traffic_flow_deviation_exclusions
0,RWS01_MONIBAS_0021hrl0414ra,2019-01-01 00:00:00,2019-01-01 00:01:00,F1A,1.0,0.0,0.0,-1.0,5,northBound,NaN,NaN
1,RWS01_MONIBAS_0021hrl0414ra,2019-01-01 00:00:00,2019-01-01 00:01:00,F3A,1.0,0.0,0.0,-1.0,5,northBound,NaN,NaN
2,RWS01_MONIBAS_0021hrl0414ra,2019-01-01 00:00:00,2019-01-01 00:01:00,F5A,1.0,0.0,0.0,-1.0,5,northBound,NaN,NaN
3,RWS01_MONIBAS_0021hrl0414ra,2019-01-01 00:00:00,2019-01-01 00:01:00,F7A,1.0,0.0,0.0,-1.0,5,northBound,NaN,NaN
4,RWS01_MONIBAS_0021hrl0414ra,2019-01-01 00:00:00,2019-01-01 00:01:00,F9A,1.0,1.0,180.0,118.0,5,northBound,NaN,NaN

In [4]:
# Define the list of values to be removed
values_to_remove = ['RWS01_MONIBAS_0071hrl1805ra', 'RWS01_MONIBAS_0281hrl1476ra',
                    'RWS01_MONIBAS_0071hrr1805ra', 'RWS01_MONIBAS_0281hrr1476ra',
                    'RWS01_MONIBAS_0321hrr0654ra', 'RWS01_MONIBAS_0321hrl0654ra',
                    'RWS01_MONIBAS_0321hrr0467ra', 'RWS01_MONIBAS_0321hrl0467ra',
                    'RWS01_MONIBAS_0041hrl0151ra', 'RWS01_MONIBAS_0041hrr0152ra',
                    'RWS01_MONIBAS_0070vwb1401ra', 'RWS01_MONIBAS_0070vwc1401ra'
                   ]

# Filter out rows with specified values in the id_meetlocatie column
stacked_data = stacked_data[~stacked_data['id_meetlocatie'].isin(values_to_remove)]

# Reset index if needed
stacked_data.reset_index(drop=True, inplace=True)

# Display the filtered DataFrame
#filtered_stacked_data.head()

In [5]:
data = stacked_data

In [6]:
# Assuming 'data' is your DataFrame
data['gem_intensiteit'] = data['gem_intensiteit'].replace(-1, 0)
data['gem_snelheid'] = data['gem_snelheid'].replace(-1, 0)

C:\Users\u180569\AppData\Local\Temp\ipykernel_14096\4205887186.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['gem_intensiteit'] = data['gem_intensiteit'].replace(-1, 0)
C:\Users\u180569\AppData\Local\Temp\ipykernel_14096\4205887186.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['gem_snelheid'] = data['gem_snelheid'].replace(-1, 0)

In [7]:
#check for missing values

data.groupby('id_meetlocatie').apply(lambda x: x['gem_snelheid'].isnull().sum())

id_meetlocatie
RWS01_MONIBAS_0021hrl0414ra    0
RWS01_MONIBAS_0021hrl1309ra    0
RWS01_MONIBAS_0021hrl2368ra    0
RWS01_MONIBAS_0021hrr0415ra    0
RWS01_MONIBAS_0021hrr1309ra    0
RWS01_MONIBAS_0021hrr2368ra    0
RWS01_MONIBAS_0131hrl0122ra    0
RWS01_MONIBAS_0131hrr0122ra    0
RWS01_MONIBAS_0271hrl1140ra    0
RWS01_MONIBAS_0271hrr1140ra    0
dtype: int64

In [8]:
data["ndw_index"].unique()

array(['F1A', 'F3A', 'F5A', 'F7A', 'F9A', 'F801A', 'F1B', 'F2B', 'F3B',
       'F4B', 'F9B', 'F10B', 'F11B', 'F12B'], dtype=object)

In [9]:
#remove stopping lane

data = data[data['ndw_index'] != 'F801A']

In [10]:
# Assuming 'data' is your DataFrame and 'time_column' is the name of the column containing the datetime values
data['time_column'] = pd.to_datetime(data['start_meetperiode'])  # Convert to datetime if not already

# Extract year, month, day, hour, and minute into separate columns
data['date'] = data['time_column'].dt.date
data['year'] = data['time_column'].dt.year
data['month'] = data['time_column'].dt.month
data['day'] = data['time_column'].dt.day
data['hour'] = data['time_column'].dt.hour
data['minute'] = data['time_column'].dt.minute
data['day_of_week'] = data['time_column'].dt.dayofweek
data['weekend'] = (data['day_of_week'] >= 5).astype(int)

# Now you have separate columns for year, month, day, hour, and minute

C:\Users\u180569\AppData\Local\Temp\ipykernel_14096\1678938041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time_column'] = pd.to_datetime(data['start_meetperiode'])  # Convert to datetime if not already
C:\Users\u180569\AppData\Local\Temp\ipykernel_14096\1678938041.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = data['time_column'].dt.date
C:\Users\u180569\AppData\Local\Temp\ipykernel_14096\1678938041.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['year'] = data['time_column'].dt.year
C:\Users\u180569\AppData\Local\Temp\ipykernel_14096\1678938041.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['month'] = data['time_column'].dt.month
C:\Users\u180569\AppData\Local\Temp\ipykernel_14096\1678938041.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day'] = data['time_column'].dt.day
C:\Users\u180569\AppData\Local\Temp\ipykernel_14096\1678938041.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'] = data['time_column'].dt.hour
C:\Users\u180569\AppData\Local\Temp\ipykernel_14096\1678938041.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['minute'] = data['time_column'].dt.minute
C:\Users\u180569\AppData\Local\Temp\ipykernel_14096\1678938041.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day_of_week'] = data['time_column'].dt.dayofweek
C:\Users\u180569\AppData\Local\Temp\ipykernel_14096\1678938041.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['weekend'] = (data['day_of_week'] >= 5).astype(int)

In [11]:
# Add 0.000001 to the values in the "gem_intensiteit" column
data['gem_intensiteit'] += 0.000001

C:\Users\u180569\AppData\Local\Temp\ipykernel_14096\3166473090.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['gem_intensiteit'] += 0.000001

In [12]:
data['intensiteit'] = data['gem_intensiteit']/60

C:\Users\u180569\AppData\Local\Temp\ipykernel_14096\2908328754.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['intensiteit'] = data['gem_intensiteit']/60

In [13]:
data['sumspeed'] = data['intensiteit'] * data ['gem_snelheid']

C:\Users\u180569\AppData\Local\Temp\ipykernel_14096\3443430302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sumspeed'] = data['intensiteit'] * data ['gem_snelheid']

In [14]:
#extra check not necessary if previous one was already succesful
#data.groupby('id_meetlocatie').apply(lambda x: x['gem_snelheid'].isnull().sum())

In [15]:
# Select the columns to group by
group_columns = ['id_meetlocatie', 'date', 'year', 'month', 'day', 'hour', 'minute', 'day_of_week', 'weekend', 'totaal_aantal_rijstroken']

# Group by the selected columns and aggregate other columns
grouped_data = data.groupby(group_columns).agg({'intensiteit': 'sum', 'sumspeed': 'sum'}).reset_index()

In [16]:
grouped_data['avg_speed'] = grouped_data['sumspeed'] / grouped_data['intensiteit']
grouped_data = grouped_data.drop(columns=['sumspeed'])

In [17]:
grouped_data.head(20)

,id_meetlocatie,date,year,month,day,hour,minute,day_of_week,weekend,totaal_aantal_rijstroken,intensiteit,avg_speed
0,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,0,1,0,5,3.0,117.999997
1,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,1,1,0,5,11.0,118.818182
2,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,2,1,0,5,10.0,122.300000
3,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,3,1,0,5,5.0,127.399999
4,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,4,1,0,5,11.0,108.363636
5,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,5,1,0,5,11.0,118.181818
6,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,6,1,0,5,11.0,114.636363
7,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,7,1,0,5,11.0,108.545454
8,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,8,1,0,5,7.0,120.285714
9,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,9,1,0,5,5.0,109.399999
10,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,10,1,0,5,1.0,100.999993
11,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,11,1,0,5,7.0,111.571428
12,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,12,1,0,5,5.0,104.399999
13,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,13,1,0,5,7.0,116.571428
14,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,14,1,0,5,3.0,112.333332
15,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,15,1,0,5,4.0,107.499999
16,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,16,1,0,5,3.0,122.666665
17,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,17,1,0,5,7.0,103.857142
18,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,18,1,0,5,8.0,114.625000
19,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,19,1,0,5,8.0,123.875000

In [18]:
grouped_data.shape

(4898534, 12)

In [19]:
'''test to see whether null variables'''
#grouped_data.groupby('id_meetlocatie').apply(lambda x: x['avg_speed'].isnull().sum())

'test to see whether null variables'

In [20]:
#grouped_data['hour'] = pd.to_numeric(grouped_data['hour'], errors='coerce')

In [21]:
#grouped_data = grouped_data[(grouped_data['hour'] > 5)]

In [22]:
#grouped_data = grouped_data[(grouped_data['hour'] < 21)]

In [23]:
holidays = pd.read_csv("holidays.csv")

In [24]:
import pandas as pd

# Assuming holidays is your DataFrame and 'date' is the column containing dates
# Convert 'date' column to datetime object
holidays['date'] = pd.to_datetime(holidays['date'], errors='coerce')

# Check unique values and infer date format
unique_dates = holidays['date'].dropna().dt.strftime('%Y-%m-%d').unique()
date_format = unique_dates[0] if len(unique_dates) == 1 else "Multiple formats detected"

# Print the inferred date format
print("Inferred date format:", date_format)

Inferred date format: Multiple formats detected

In [25]:
grouped_data['date'] = pd.to_datetime(grouped_data['date'], errors='coerce')

# Check unique values and infer date format
unique_dates = grouped_data['date'].dropna().dt.strftime('%Y-%m-%d').unique()
date_format = unique_dates[0] if len(unique_dates) == 1 else "Multiple formats detected"

# Print the inferred date format
print("Inferred date format:", date_format)

Inferred date format: Multiple formats detected

In [26]:
# Round the 'intensiteit' and 'alg_speed' columns to two decimals
grouped_data['intensiteit'] = grouped_data['intensiteit'].round(2)
grouped_data['avg_speed'] = grouped_data['avg_speed'].round(2)

In [27]:
merged_data = pd.merge(grouped_data, holidays, on='date', how='left')

merged_data['is_public_holiday'] = merged_data['is_public_holiday'].fillna(0).astype(int)

In [28]:
merged_data.head()

,id_meetlocatie,date,year,month,day,hour,minute,day_of_week,weekend,totaal_aantal_rijstroken,intensiteit,avg_speed,is_public_holiday
0,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,0,1,0,5,3.0,118.00,1
1,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,1,1,0,5,11.0,118.82,1
2,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,2,1,0,5,10.0,122.30,1
3,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,3,1,0,5,5.0,127.40,1
4,RWS01_MONIBAS_0021hrl0414ra,2019-01-01,2019,1,1,0,4,1,0,5,11.0,108.36,1

In [29]:
merged_data.to_csv('Preprocessed_1min_2019_1.csv', index=False)